.container {
  min-height: 100vh;
}

.Logo {
  height: 50px;
  width: 50px;
  margin-left: 5px;
}

button:focus {
  outline: 0px solid;
}

/*#region Home*/
.BlogTile {
  cursor: pointer;
  padding: 1rem 2rem !important;
  opacity: 0.6;
  transition: all ease 0.4s;
}
.BlogTile:hover {
  opacity: 1;
}

/*#endregion */

/*#region Buy Me a Coffee*/
.BuyMeACoffee {
  background: #eee;
  position: fixed;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  z-index: 999;
  padding-left: 18px;
  padding-top: 10px;
  box-shadow: 1px 1px 1px #111;
  transition: all ease 0.4s;
}
.BuyMeACoffee:hover {
  background: #fff;
  box-shadow: 10px 10px 3px #111;
}
/*#endregion */

/*#region Scroll to top*/
.ScrollToTop {
  position: fixed;
  right: 15px;
  bottom: 100px;
  border-radius: 50%;
  z-index: 999;
  padding-left: 18px;
  padding-top: 10px;
  transition: all ease 0.4s;
}
/*#endregion */

/*#region Index*/

.tileText {
  margin: 10px;
  padding: 10px;
  width: 200px;
}
.Pokeball {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  border: 14px solid #555;
  position: relative;
}
.PokeballLine {
  position: absolute;
  top: calc(50% - 7px);
  height: 14px;
  width: 100%;
  background-color: #555;
}
.PokeballDot {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #555;
}
/*#endregion */

/*#region Pokemon*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
.flex-item {
  margin: 10px;
  padding: 10px;
  background: rgba(150, 150, 150, 0.1);
  border: 0px solid rgba(150, 150, 150, 0.8);
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 0;
  min-width: 200px;
  border-radius: 10px;
}

.flex-item-type {
  margin: 5px;
  padding: 5px;
  background: rgba(150, 150, 150, 0.1);
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 0;
  border-radius: 10px;
  text-align: center;
  min-width: 85px;
}
.pokemonType {
  margin: 0.1rem;
  border-radius: 2rem;
  color: #fff;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: center;
  width: 5rem;
  height: 1.5rem;
  display: inline-block;
}
.pokemonType:focus {
  outline: 1px solid;
}
.pokemonTypeIcon {
  margin: 0.1rem;
  border-radius: 2rem;
  color: #fff;
  text-align: center;
  width: 3rem;
  height: 3rem;
  padding: 0.4rem;
  transition: all ease 0.1s;
}
.pokemonTypeIcon:focus {
  filter: saturate(200%);
  transform: scale(1.1);
}
.pokemonTypeNormal {
  background: #a8a878;
  border: 1px solid #6d6d4e;
}
.pokemonTypeFire {
  background: #f08030;
  border: 1px solid #9c531f;
}
.pokemonTypeFighting {
  background: #c03028;
  border: 1px solid #7d1f1a;
}
.pokemonTypeWater {
  background: #6890f0;
  border: 1px solid #445e9c;
}
.pokemonTypeFlying {
  background: #a890f0;
  border: 1px solid #6d5e9c;
}
.pokemonTypeGrass {
  background: #78c850;
  border: 1px solid #4e8234;
}
.pokemonTypePoison {
  background: #a040a0;
  border: 1px solid #682a68;
}
.pokemonTypeElectric {
  background: #f8d030;
  border: 1px solid #a1871f;
}
.pokemonTypeGround {
  background: #e0c068;
  border: 1px solid #927d44;
}
.pokemonTypePsychic {
  background: #f85888;
  border: 1px solid #a13959;
}
.pokemonTypeRock {
  background: #b8a038;
  border: 1px solid #786824;
}
.pokemonTypeIce {
  background: #98d8d8;
  border: 1px solid #638d8d;
}
.pokemonTypeBug {
  background: #a8b820;
  border: 1px solid #6d7815;
}
.pokemonTypeDragon {
  background: #7038f8;
  border: 1px solid #4924a1;
}
.pokemonTypeGhost {
  background: #705898;
  border: 1px solid #493963;
}
.pokemonTypeDark {
  background: #705848;
  border: 1px solid #49392f;
}
.pokemonTypeSteel {
  background: #b8b8d0;
  border: 1px solid #787887;
}
.pokemonTypeFairy {
  background: #ee99ac;
  border: 1px solid #9b6470;
}
/*#endregion */

/*#region Jungle Clears*/
.smallIcon {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  display: inline;
  margin-left: 5px;
}
.champIcon {
  margin: auto;
  border-radius: 6px;
  object-fit: none;
  height: 100px;
  width: 100px;
  min-height: 100px;
  min-width: 100px;
  border: 0px solid rgba(150, 150, 150, 0.9);
  transition: all 0.4s ease;
}
.champRow {
  display: relative;
  cursor: pointer;
  background: rgba(150, 150, 150, 0.1);
  border: 0px solid rgba(150, 150, 150, 0.9);
  margin-top: 10px;
  padding: 0px;
  border-radius: 6px;
  min-height: 80px;
  transition: all 0.4s ease;
  line-height: 46px;
}
.champRow:hover {
  background: rgba(100, 180, 240, 0.2);
  border: 0px solid rgba(100, 180, 240, 0.9);
}
.champRow:hover .champIcon {
  border: 0px solid rgba(100, 180, 240, 0.9);
}

.champRowStatic {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.champRowStatic > div {
  padding: 10px;
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 0;
  text-align: center;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin: 20px;
}
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
/*#endregion */

/*#region Beats*/
.noteContainer {
  font-size: 2em;
}

.verticalLine {
  width: 0.1em;
  height: 2em;
  background: black;
}

.noteHead {
  margin-top: -0.9em;
  margin-left: -0.44em;
  font-size: 0.8em;
}

.noteLetter {
  margin-top: -0em;
  margin-left: -0.2em;
  font-size: 0.8em;
}

.beatGroup {
  margin-left: 2em;
  margin-right: 0.5em;
  margin-top: 4em;
  margin-bottom: 2em;
  border: 0px solid red;
}

.beatGroupTopLine {
  width: calc(100% + 0.05em);
  margin-left: -0.9em;
  height: 0.2em;
  background: black;
}

.accentedSnare {
  position: absolute;
  top: -1.8em;
  left: -0.4em;
  font-size: 1.5em;
}

/*#endregion */
