.smallIcon {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  display: inline;
  margin-left: 5px;
}

.champIcon {
  left: -100px;
  top: -25px;
  position: absolute;
  border-radius: 50%;
  object-fit: none;
  height: 100px;
  width: 100px;
  min-height: 100px;
  min-width: 100px;
  border: 5px solid rgba(150, 150, 150, 0.9);
  transition: all 0.4s ease;
}

.champRow {
  cursor: pointer;
  background: rgba(150, 150, 150, 0.1);
  border: 1px solid rgba(150, 150, 150, 0.9);
  margin-top: 30px;
  padding: 20px;
  padding-left: 80px;
  border-radius: 40px;
  min-height: 80px;
  transition: all 0.4s ease;
  line-height: 46px;
}
.champRow:hover {
  background: rgba(100, 180, 240, 0.2);
  border: 1px solid rgba(100, 180, 240, 0.9);
}

.champRow:hover .champIcon {
  border: 5px solid rgba(100, 180, 240, 0.9);
}
